*{

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}



:root {

    --first-color:#4070fa;

    --second-color:#0e2431;

}

html {

    scroll-behavior: smooth;



}

body {

    background-color: #ecf0f3;

}

h1 {

    font-size: 3rem;

    font-weight: 50;

    color: var(--first-color);

    text-align:   center  ;

}







.input_div {

    display: flex;

    justify-content: center ;

    align-items: center;

    text-align: center;

    margin: 2rem auto;



}

.input_div input {

    padding: 0.5rem 1rem;

    height: 50px;

    outline: none;

    background-color: transparent;

    width: 500px;

    font-size: 1.5rem;

    margin: 0.5rem;

    color: var(--first-color);

    border-radius: 25px;

    border: 2px solid var(--first-color);

}



.addButton {

    height: 30px;

    width: 30px;

    border-radius: 25px;

    outline: none;

    border:none;

    background-color: var(--first-color);

    color: white;

    margin: 0.5px;

}





.container  {

    display: flex;

    flex-direction: column;

    justify-content: cen    ;

    align-items: center;

    text-align: center;

    margin-top: 2rem;

}

.item {

    padding: 1rem;

    margin-bottom: 2rem;

    border-bottom: 3px solid #fff;



}

.item_input {

    background: none   ;

    outline: none   ;

    color: var(--first-color);

    width: 350px;

    font-size: 1.4rem;

    border: none;





}

.editButton {

font-size: 1.5rem;

margin: 0 0.5rem;

background: none;

outline: none;

color: lime;

border: none;

cursor: pointer;

}

.removeButton {

font-size: 1.5rem;

margin: 0 0.5rem;

background: none;

outline: none;

color: red;

border: none;

cursor: pointer;

}
